#tileView {
  background-color: rgba(75,75,75,.9);
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
  text-align: center;
  border: 1px solid red;
  height: 335px;
  width: 222px;
  margin-left: 25px;
  margin-right: 25px;
  margin-top: 25px;
  margin-bottom: 25px;
}
